<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.kosta.shoppingmall.user">
	
	<!-- 전체조회를 위한 SQL 매핑 -->
	<select id="listAll" resultType="User" >
	<!-- <select id="selectAll" resultType="User" > -->
		SELECT id, 
		       name, 
		       passwd, 
		       email, 
		       TO_CHAR(regdate, 'YYYY/MM/DD HH24:MI DAY') regdate 
		FROM   users 
		ORDER  BY regdate ASC
	</select>
	
	
	<!-- 아이디로 검색 -->
	<select id="read" parameterType="string" resultType="User">
		SELECT id, 
		       NAME, 
		       passwd, 
		       email, 
		       To_char(regdate, 'YYYY-MM-DD DAY') regdate 
		FROM   users 
		WHERE  id = #{value}
	</select>
	
	<!--  새 회원 추가  -->
	<insert id="create" parameterType="User">
		INSERT INTO users 
		            (id, 
		             NAME, 
		             passwd, 
		             email, 
		             regdate) 
		VALUES      (#{id}, 
		             #{name}, 
		             #{passwd}, 
		             #{email}, 
		             sysdate)
	</insert>
	
	<!-- 회원 정보 업데이트 -->
	<update id="update" parameterType="User">
		UPDATE users
		SET	   name = #{name}, 
		       passwd = #{passwd},
		       email = #{email}
		WHERE id = #{id}
	</update>
	
	<!-- 회원 삭제 -->
	<delete id="delete" parameterType="string">
		DELETE FROM users
		WHERE  id = #{value}
	</delete>
	
	<!-- 아이디와 비밀번호로 회원 조회 -->
	<select id="certify" parameterType="map" resultType="User">
		SELECT id, 
		       NAME, 
		       passwd, 
		       email, 
		       To_char(regdate, 'YYYY-MM-DD DAY') regdate 
		FROM   users 
		WHERE  id = #{id} AND passwd = #{passwd}
	</select>
	
	<!-- 검색 타입별 조회 -->
	<select id="countBySearch" parameterType="map" resultType="User">
	SELECT Count(id) count 
	FROM   users
	<if test="searchType != null">
		<choose>
			<when test="searchType == 'id'">
			WHERE id = #{searchValue}
			</when>
			<when test="searchType == 'name'">
			WHERE name like concat('%',#{searchValue},'%')
			</when>
		</choose>
	</if>
	</select>
	
	<!-- 선택 페이지에 따른 사용자 목록 반환 -->
	<select id="listByPage" parameterType="map" resultType="User">
		SELECT id, 
		       NAME, 
		       passwd, 
		       email, 
		       regdate 
		FROM   (SELECT Ceil (rownum / #{listSize}) request_page, 
		               id, 
		               NAME, 
		               passwd, 
		               email, 
		               regdate 
		        FROM   (SELECT id, 
		                       NAME, 
		                       passwd, 
		                       email, 
		                       To_char(regdate, 'YYYY-MM-DD DAY') regdate 
		                FROM   users 
		                <if test="searchType != null">
							<choose>
								<when test="searchType == 'id'">
								WHERE id = #{searchValue}
								</when>
								<when test="searchType == 'name'">
								WHERE name like concat('%',#{searchValue},'%')
								</when>
							</choose>
						</if>
		                ORDER  BY regdate DESC)) 
		WHERE  request_page = #{requestPage}; 
	</select> 
		
</mapper>